# Ignore git / GitHub details
.appends
.git
.gitattributes
.gitignore
.github

# Ignore run artifacts
error_log
metadata.json
output
output.json
results.xml
results.json

# Ignore test files
tests/

# Ignore build details
.dockerignore
Dockerfile
vendor/*
composer.lock

# Ignore old PHPUnit log post-processor
junit-handler/
